/* Creating Tour */
*:focus {
    outline: 0 !important;
}

a-scene#main-scene canvas.a-canvas{
	position: absolute!important;
}

.creating-tour {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: Futura-Medium;
    color: black;
	background-color: #202126;
}

#creating-back-btn{
	display: flex;
	position: absolute;
    top: 7vh;
    left: 10vw;
    width: 2.78vw;
    height: 2.78vw;	
    padding: 0px;
}

#creating-back-log{
	width: 100%;
}

#tour-content{
	flex-direction: column;
	width: 45%;
}

#creating-title{
	font-family: Futura-Medium;
    font-size: 1.83vw;
    color: #666666;
	margin-top: 6.5vh!important;
	margin-bottom: 5px!important;
	text-align: center
}

#provide-title{
	font-family: Futura-Medium;
    font-size: 1.83vw;
	color: #E6E6E6;
	margin-top: 5px!important;
	margin-bottom: 11vh!important;
	text-align: center
}

#submit-form{
	width: 100%;
}

#title-tab, #synopsis-tab{
	font-family: Futura-Medium;
	color: #E6E6E6;
	font-size: 1.1vw;
}

#tourTitleField, #synopsisField{
    border: 1px solid #E6E6E6;
    border-radius: 7px;
	color: white;
    background-color: #202126!important;
	font-size: 1.46vw;
	font-family: Futura-Medium;
	padding: 15px!important;
}

#tourTitleField, #synopsisField: focus{
	outline: none !important;
    border: 1px solid #E6E6E6;
    border-radius: 7px;
	color: white;
}

#tourTitleField{
	height: 3vw!important;
	margin-bottom: 8vh!important;
    width: 100%;
}

#synopsisField{
	margin-bottom: 5px!important;
	height: 7.54vw;
}

#tourTitleField:-webkit-autofill,
#tourTitleField:-webkit-autofill:hover, 
#tourTitleField:-webkit-autofill:focus, 
#tourTitleField:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px #202126 inset !important;
	-webkit-text-fill-color: white;
	caret-color: white;
}

#number-tab{
	font-family: Futura-MediumItalic;
	font-size: 1.1vw;
	color: #666666;
	text-align: right!important;
	margin-bottom: 7vh;
}

#creating-tour-btn{
	background-color: #fbb03b;
}

#creating-tour-btn:hover {
	background-color: #f39605;
}

#editing-tour-container{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: exo;
    color: black;
    background-color: #666666;
}

#default-veiw-container{
	width: 10.46vw;
	height: 2.85vw;
	top: 1.46vw;
	right: 1.46vw;
	position: absolute;
	background: #000000 0% 0% no-repeat padding-box;
	border-radius: 5px;
	border: 0px;
	opacity: 0.3;
}

#default-view-btn{
	width: 10.46vw;
	height: 2.85vw;
	top: 1.46vw;
	right: 1.46vw;
	position: absolute;
	font-size: 1.02vw;
	font-family: Futura-Medium;
	color: white;
	background: transparent;
	border: 0px;
}

#column-container{
	display: flex;
	width: 100%;
    height: inherit;
    flex-direction: row;
}

#menu-container{
	width: 8.5vw;
    display: flex;
    height: 100%;
    flex-direction: column;
	min-width: 100px;
}

#scene-container{
	width: 91.5vw;
}

#hiverlab{
	display: flex;
    background-color: #202126;
    height: 7.5vh;
    align-items: center;
    justify-content: center;
}

#hiverlab-log{
	display: flex;
    width: 60%;
}

#menu-tab{
    height: 100%;
	background-color: #171717;
    display: flex;
    flex-direction: column;
	text-align: center;
}

.main-menu-btn{
	width: 100%;
    background-color: transparent;
    border: 0px;
	padding: 2.7vh 0 0 0;
	outline: none;
}

.main-menu-btn .img-fluid{
	width: 35%;
}

.main-menu-txt{
    text-align: center;
    color: white;
    font-size: 0.95vw;
    font-family: Futura-Medium;
	margin-top: 1vh;
}

#move-container{
	justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
}

.move-btn{
	width: 5.7vw;
	height: 2.4vw;
	font-family: Futura-Medium;
	font-size: 1.02vw;
	text-align: center;
	color: #000000;
	background: #FBB03B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	border: 1px;
	margin: auto;
	margin-bottom: 20px;
	outline: none;
}

#preview-btn{
	color: #FBB03B;
    border: 1px solid #FBB03B;
    background-color: #171717;
}

#preview-btn:hover{
	color: black;
    background-color: #f39605;
}

#publish-btn{
	color: black;
    border: 1px solid #FBB03B;
    background-color: #FBB03B;
}

#publish-btn:hover{
    background-color: #f39605;
}

#exit-btn{
	display: none;
	color: #FA4646;
    border: 1px solid #FA4646;
    background-color: #171717;
}

#exit-btn:hover{
	color: black;
    background-color: #fd4747;
}

#scene-list-container{
	display: flex;
	width: 100%;
	height: 11vw;
	min-height: 115px;
    background-color: #202126;
	flex-direction: row;
}

#add-scene-container{
    display: inline-table;
    width: 11vw;
    height: 100%;
    flex-direction: column;
    padding: 1vw 0.6vw 0vw 0.6vw;
    margin-left: 1vw;
    justify-content: center;
    margin-bottom: 8px;
}

.scene-titleField{
	text-align: left;
    font-size: 0.95vw;
    font-family: Futura-Medium;
	border: 0px;
	color: white;
	background-color: #202126;
	margin-right: 0.7vw;
}

#scene-scroll-container{
	width: auto;
    height: 100%;
    display: -webkit-inline-box;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

#scene-scroll-container::-webkit-scrollbar {
	height: 8px;
}

#scene-scroll-container::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

#scene-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #666666;
  opacity: 0.5;
  outline: 2px solid slategrey;
}

#scene-scroll-container::-webkit-scrollbar:vertical {
  display: none;
}

.scene-item-container{
	display: flex;
    width: 11vw;
    height: 100%;
    flex-direction: column;
    padding: 1vw 0.6vw 0vw 0.6vw;
    justify-content: center;
}

.scene-btn-container{
	position: relative;
}

.scene-logo-btn{
	display: flex;
	width: 9vw;
    height: 5.21vw;
	margin-bottom: 10px;
    padding: 0px;
    border: 0px;
}

img.scene-logo-img{
	width: 100%;
	height: 100%;
}

.edit-btn{
    position: absolute;
    top: 0.5vw;
    right: 2.5vw;
    width: 15px;
    height: 15px;
	background-image: url("../images/assets/edit.png");
	background-color: transparent;
    border: 0px;
    background-size: cover;
}

.edit-btn:hover{
	background-image: url("../images/assets/edit-red.png");
}

.delete-btn{
    position: absolute;
    top: 0.5vw;
    right: 1.2vw;
    width: 15px;
    height: 15px;
	background-image: url("../images/assets/delete.png");
	background-color: transparent;
    border: 0px;
    background-size: cover;
}

.delete-btn:hover{
	background-image: url("../images/assets/delete_red.png");
}
////////////////////-------------------------------//////////////////
@font-face {
    font-family: 'exo';
    src: url('../fonts/HuaweiSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/futura medium bt.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: exo, Arial, sans-serif;
    font-size: 76.5%;
}

.clear-background {
    background-color: rgba(0, 0, 0, 0);
}

.list-group-mine .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #0091b5;
}

.list-group-mine .list-group-item:hover {}

.terms-link {
    color: black;
    text-decoration: underline;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.intro-card {
    width: 60%;
    background-color: rgba(0, 0, 0, 0);
    /*background: rgb(29,30,43);
    background: linear-gradient(90deg, rgba(29,30,43,1) 0%, rgba(93,101,119,1) 100%);
    */
}

.huawei-logo {
    position: absolute;
    width: 5rem;
    top: 0;
    right: 0;
    margin-top: 32px;
    margin-right: 64px;
}

.powered-by-logo {
    position: absolute;
    width: 15rem;
    bottom: 1rem;
    right: 0;
    margin-bottom: 16px;
    margin-right: 64px;
}

/* Introduction */
.introduction {
    /*background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com/hiverlabtest/huawei-virtualtour/ui/loginbg.png');
    */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: exo;
    color: black;
}

#fullscreen-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.introduction-card {
    background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com:443/hiverlabtest/huawei-virtualtour/ui/card_introduction.png');
    background-size: cover;
    border-radius: 2.5rem;
    margin: auto;
    width: 40%;
    background-repeat: no-repeat;
    padding: 3rem 3.5rem;
    height: 15rem;
    width: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.introduction-image {
    height: 4rem;
    margin-bottom: 1rem;
}

.introduction-logo {
    padding: 3rem;
    padding: 3rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.introduction-image {
    align-self: start;
    height: 3.5rem;
    width: auto;
}

.introduction-logo {
    padding: 3rem 4rem 0 0;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.introduction-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 2rem;
}

.introduction-terms {
    align-self: flex-end;
    padding: 0 3rem 2rem 0;
}

.introduction-terms a {
    color: black;
    cursor: pointer;
    margin-right: 1rem;
}

.form label {
    display: block;
    font-size: 0.8rem;
    color: black;
}

.input-text {
    background-color: black;
    border: none;
    padding: 0.5rem;
    color: rgb(112, 111, 111);
    margin-right: 0.5rem;
    flex: 1 1;
}

.input-content {
    display: flex;
}

#feedbackField {
    background-color: #EDF1F8;
    border-radius: 0px;
    border: 0px;
    color: grey;
}

.feedback-btn {
    height: 50px;
    background-color: #F40001;
    border: 0px solid #FFD300;
    transition: all 0.2s;
    color: white;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 0px 0px 5px #DC0000;
}

.feedback-btn:hover {
    background-color: #DC0000;
}

#bottom-nav {
    position: relative;
    left: 0px;
    bottom: 85px;
}

.bottom-nav-btn {
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.bottom-nav-btn:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tech-btn {
    background-color: #F40001;
    border: 0px solid #FFD300;
    transition: all 0.2s;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px #DC0000;
    
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
}

.tech-btn:hover {
    background-color: #DC0000;
}

.tech-btn:focus {
    outline: none !important;
    border: none !important;
}

.tech-btn-disabled {
    background-color: #F4000166;
    
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
}

.start-btn {
    background-color: #F40001;
    border: 0px solid #FFD300;
    transition: all 0.2s;
    color: white;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px #DC0000;
}

.start-btn:hover {
    background-color: #DC0000;
}

.login-field {
    height: 3rem;
}

.enter-btn {
    background-color: #F40001;
    border: 0px solid #FFD300;
    transition: all 0.2s;
    color: white;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    width: 5rem;
    box-shadow: 0px 0px 5px #DC0000;
}

.enter-btn:hover {
    background-color: #DC0000;
}

.error {
    color: rgb(243, 101, 101);
    margin-top: 0.5rem;
    opacity: 0;
}

/* Instructions */

#enter-tour-button {
    color: white;
    font-weight: bold;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com:443/hiverlabtest/huawei-virtualtour/ui/Ailab%20Blur.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: exo;
    color: black;
    font-size: 0.8rem;
}

.instructions-title {
    margin-top: 0;
}

.instruction-cards {
    display: flex;
    flex-direction: column;
    justify-self: space-evenly;
    padding: 3rem;
}

.instructions-card {
    background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com:443/hiverlabtest/huawei-virtualtour/ui/card_introduction.png');
    background-size: cover;
    border-radius: 2.5rem;
    margin: auto;
    background-repeat: no-repeat;
    padding: 3rem 4rem;
    font-size: 1rem;
    color: black;
}

.instructions-card:not(:last-child) {
    margin-bottom: 2rem;
}

.model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-right: 3rem;
}

.model-box {
    width: 20rem;
    height: auto;
}

.model-image {
    display: block;
    height: 100%;
    width: 100%;
}

.rotate-image {
    height: 2rem;
    width: 2rem;
    margin: auto;
}

.rotate-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rotate-content p {
    color: black;
    text-align: center;
}

.instructions-choose-card {
    background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com:443/hiverlabtest/huawei-virtualtour/ui/card_choose_tech.png');
    padding: 3rem 2.6rem;
    background-size: cover;
    border-radius: 2.5rem;
    margin: auto;
    background-repeat: no-repeat;
    color: black;
}

.buttons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0;
    padding: 0;
}

.buttons li a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100%
}

.margin-bottom-small {
    margin-bottom: 1.2rem;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* fiveG */

.fiveG {
    background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com:443/hiverlabtest/huawei-virtualtour/ui/Ailab%20Blur.png');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: exo;
    color: black;
}

.fiveG-card {
    background-image: url('https://obs.ap-southeast-3.myhuaweicloud.com:443/hiverlabtest/huawei-virtualtour/ui/card_content.png');
    background-size: cover;
    border-radius: 2.5rem;
    margin: auto;
    background-repeat: no-repeat;
    padding: 1rem 3.5rem;
    color: black;
    font-size: 1rem;
    text-align: left;
    margin-right: 20%;
    margin-bottom: 5%
}

.content-list {
    line-height: 2rem;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.back-image {
    height: 2rem;
    width: auto;
    align-self: flex-start;
    margin-left: 2rem;
    cursor: pointer;
}

.fiveG-model {
    height: 30rem;
    width: auto;
}
